* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 50px;
  gap: 10px;
}
.form-label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 150px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}
.link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
}
.list {
  list-style: none;
}
.timer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.field {
  margin-top: 10px;
  margin-left: 5px;

  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid gray;
}
